<nav>
  <ul>
    <li routerLink="/">Dashboard</li>
    <li routerLink="/postulantes">Postulantes</li>
    <li routerLink="/pagos">Pagos y Aranceles</li>
    <li routerLink="/proyectos">Proyectos</li>
    <li routerLink="/tutores">Tutores</li>
    <li routerLink="/tribunales">Tribunales</li>
    <li routerLink="/defensas">Defensas</li>
    <li routerLink="/tramites">Trámites de Titulación</li>
    <li routerLink="/reportes">Reportes</li>
    <li routerLink="/usuarios">Usuarios</li>
    <li routerLink="/documentos">Documentos</li>
  </ul>
</nav>